# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        port: 22
        script: |
          cd /home/kominfo/app/my-morowali/
          git pull
          cp -r /home/kominfo/app/my-morowali/frontend/* /var/www/html/source
          cp -r /home/kominfo/app/my-morowali/frontend/public/* /var/www/html/
          cd ./backend/api-gateway
          npm install
          pm2 start
          cd ../ms-auth
          npm install
          pm2 start
          cd ../ms-kemiskinan
          npm install
          pm2 start
          cd ../ms-organisasi
          npm install
          pm2 start
          pm2 save